extends base
block body
    main
        h1.heading.centre My Profile
        #profile
            img(src=`images/users/${user.photo}`, alt="", srcset="")
            h2.email= user.email
            h1.name= user.name
            hr
        #updateMe
            h2 Update Information
            form.form#updateMe-form
                label(for='image-input' id='image-label')
                    img(src=`/images/users/${user.photo}`, id="selected-image")
                    input(type='file' id="image-input")
                label(for='email')
                    p Email
                    .input-wrap
                        i.fas.fa-user-alt
                        input#email(type='text' value=`${user.email}`)
                label(for='name')
                    p Name
                    .input-wrap
                        i.fas.fa-key
                        input#name(type='text' value=`${user.name}`)
                button#login-btn Update Info
        a(href="/updatePassword")#reset-password-link
            | Update Password 
            i(class="fas fa-undo")
