extends base
include ./Mixins/empty
block body
    main
        h2.centre.heading My Cart
        #cart-products
            if cartProducts.length==0
                +empty('Cart')
            else
                each cartproduct in cartProducts
                    .cart-product.flex-container
                        img(src=`/images/${cartproduct.product.coverImage}.jpg`, alt="alt")
                        .detail
                            h3.name
                                a(href=`/product/${cartproduct.product.slug}`)= cartproduct.product.name
                        .quantity
                            p= cartproduct.quantity
                        .price
                            h3= cartproduct.product.price
                        button#cart-product-remove-btn(data-cart-product-id=`${cartproduct.id}`)
                            i(class="fas fa-times")
                    