extends base
block append head
    script(src="/js/mycart.js" type="module" defer)
block body
    main
        h2.centre My Cart
        #cart-products
            each cartproduct in cartProducts
                .cart-product.flex-container
                    img(src=`/images/${cartproduct.product.coverImage}.jpg`, alt="alt")
                    .detail
                        h3.name
                            a(href=`/product/${cartproduct.product.slug}`)= cartproduct.product.name
                    .quantity
                        p= cartproduct.quantity
                    .price
                        h3= cartproduct.product.price
                    button#cart-product-remove-btn(data-cart-product-id=`${cartproduct.id}`)
                        i(class="fas fa-times")
                