extends base
block body
    main
        #detail-wrap.flex-container
            .images
                img(src=`/images/products/${product.name}/${product.coverImage}.jpg` alt='' srcset='')
                .more-images.flex-container
                    each image in product.images
                        img(src=`/images/products/${product.name}/${image}.jpg` alt='' srcset='')
            .detail
                h3.brand= product.brand
                h1.heading= product.name
                div
                    span.rating
                        - for (var x = 0; x < 5; x++)
                            if x < Math.round(product.avgRating)
                                i.fas.fa-star.active 
                            else
                                i.fas.fa-star 
                        
                    div.rating-num 
                        span #{Math.round(product.avgRating*10)/10}/5  
                        |by 
                        span #{product.qtyRatings} 
                            i(class="fas fa-users")
                            | People
                h1.price $#{product.price}
                p.summary= product.summary
                //- #quantity-wrap
                //-     input#quantity(type='number' name='')
                .buttons.flex-container
                    button.add-to-cart(data-cart-product-id=`${product.id}`)
                        i.fas.fa-shopping-basket
                        | Add to Cart
                    //- button.add-to-wishlist
                    //-     i.far.fa-heart
                    //-     | Save to Wishlist
                p.delivery Get delivered in 2-4 business days.
        #reviews-wrap
            h1 Reviews
            each review in product.reviews
                .review.flex-container
                    img(src=`/images/users/${review.user.photo}` alt='' srcset='')
                    div
                        div.flex-container.name-time
                            h2= review.user.name
                            p.review-time= review.createdAt.toDateString()
                        span.rating
                            - for (var x = 0; x < 5; x++)
                                if x < Math.round(review.rating)
                                    i.fas.fa-star.active 
                                else
                                    i.fas.fa-star
                        p= review.review
            #add-review
                h1 Add Review
                form#add-review-form(data-cart-product-id=`${product.id}`)
                    input(type='number' placeholder='5' id="rating")
                    //- textarea#review(name="", cols="30", rows="10")
                    input(type='text' placeholder='review...' id="review")
                    button#post-review Post Review



