extends base
block content
    #detail-wrap
        .images
            img.main-image(src=`/images/${product.name}/${product.coverImage}.jpg` alt='')
            .more-images
                each image in product.images
                    img(src=`/images/${product.name}/${image}.jpg` alt='')
        .description
            h1= product.name
            h3= product.avgRating
            h3= product.qtyRatings
            p= product.summary
            each review in product.reviews
                p= review.review
                | by
                p= review.user.name
