<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
</head>

<body>
    <header class="flex-container">
        <nav class="flex-container">
            <a href="/" class="logo">
                <img src="/logo.png" alt="">
            </a>
            <a href="/shop">Laptops</a>
            <a href="#">Mobiles</a>
            <a href="/shop">All</a>
            <a href="#">About</a>
        </nav>
        <div class="buttons flex-container">
            <div id="wish-cart-btn"><i class="fas fa-heart"></i></div>
            <div id="product-cart-btn"><i class="fas fa-shopping-cart"></i></div>
            <div id="user-btn" class="drop-down">
                <div id="current-user" class="flex-container">
                    <a href="/login">Login</a>
                    <!-- <img src="default.jpg" alt="">
                    <span class="user-name">Sukh</span> -->
                    </>
                </div>
                <div class="drop-down-content">
                    <a href="#">Profile</a>
                    <a href="#">Signup</a>
                    <a href="#">Logout</a>
                </div>
            </div>
    </header>
    <main>
        <div id="detail-wrap" class="flex-container">
            <div class="images">
                <img src="/images/<%=product.coverImage%>.jpg" alt="" srcset="">
                <div class="more-images flex-container">
                    <% for( let i = 0; i < product.images.length; i++ ) { %>
                    <img src="/images/<%=product.images[i]%>.jpg" alt="" srcset="">
                    <% } %>
                </div>
            </div>
            <div class="detail">
                <h3>Apple>Laptop</h3>
                <h1><%=product.name%></h1>
                <div>
                    <span class="rating">
                        <% for( let index = 0; index< 5; index++ ) { %>
                        <i class="fas fa-star active"></i>
                        <% } %>
                    </span>
                    <span>
                        <%= product.avgRating %>/5
                    </span>
                </div>
                <h1>$<%=product.price%></h1>
                <h3><%=product.summary%></h3>
                <div id="quantity-wrap">
                    <input type="number" name="" id="quantity">
                </div>
                <div class="buttons flex-container">
                    <button class="add-to-cart">
                        <i class="fas fa-shopping-basket"></i>
                        Add to Cart
                    </button>
                    <button class="add-to-wishlist">
                        <i class="far fa-heart"></i>
                        Save to Wishlist
                    </button>
                </div>
                <p>Get delivered in 2-4 business days.</p>
            </div>
        </div>
        <div id="reviews-wrap">
            <h1>Reviews</h1>
            <% for( let i = 0; i < product.reviews.length; i++ ) { %>
            <div class="review flex-container">
                <img src="/<%=product.reviews[i].user.photo%>" alt="" srcset="">
                <div>
                    <h2 class="review-user-name"><%=product.reviews[i].user.name%></h2>
                    <span class="rating">
                        <% for( let index = 0; index< 5; index++ ) { %>
                        <i class="fas fa-star active"></i>
                        <% } %>
                    </span>
                    <p><%=product.reviews[i].review%></p>
                </div>
            </div>
            <% } %>
            <div id="add-review">
                <form>
                    <input type="text" placeholder="review...">
                    <input type="number" placeholder="rating">
                    <button>Post Review</button>
                </form>
            </div>
        </div>
    </main>

</body>

</html>