extends base
block content
    .product-detail
        .images
            img.main-img(src=`/images/${product.name}/${product.images[0]}.JPG` alt='')
            .more-images
                each image in product.images
                    img(src=`/images/${product.name}/${image}.JPG` alt='')
        .discription
            h1= product.name
            h3 &#x2B50; #{ product.avgRating}/5 by &#x1F468;&zwj;&#x1F469;&zwj;&#x1F466;#{product.qtyRatings}
            h2.summary= product.summary
            button Add to cart
            .reviews
                h2 Reviews
                each review in product.reviews
                    .review
                    h3= review.review
                    h4 
                        | by 
                        span= review.user.name
                        |  at 
                        span 12:00 am
