extends base
block content
    each image in product.images
        img(src=`images/${product.name}/${image}.jpg`,alt=`${product.name}`,class="product")
    h2= product.name
    p= product.avgRating
    | out of
    p= product.qtyRatings
    div 
        if product.reviews.length>0
            h1 reviews
            each review in product.reviews
                div 
                    h2 #{review.review} by
                    h3
                        u= review.user.name
