extends base
block append head
    script(src="/js/shop.js" type="module" defer)
block body
    main
        h1.heading All Products
        #all-products.flex-container
            each product in products
                .product
                    img(src=`/images/${product.coverImage}.jpg` alt='')
                    div
                        h2.name= product.name
                        .rating
                            - for (var x = 0; x < 5; x++)
                                if x < Math.round(product.avgRating)
                                    i.fas.fa-star.active 
                                else
                                    i.fas.fa-star 
                        .flex-container
                            h2.price $#{product.price} 
                            p.view
                                a(href=`/product/${product.slug}`) View
                        h2.add-to-cart(data-cart-product-id=`${product.id}`)
                            div
                                i.fas.fa-shopping-basket
                                | Add to Cart
